/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

/* header styles start */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 120px;
    border-radius: 30px;
}

.header-info {
    padding-top: 80px;
    padding-left: 106px;
    padding-right: 24px;
    padding-bottom: 80px;
}

.header-title {
    color: white;
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

.header-blog {
    color: gray;
    padding-bottom: 30px;
}

.header-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: red;
}

.fa-solid {
    padding-left: 10px;
}

.header-banner {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-banner img {
    height: 550px;

}

/* ---------------------
header styles end
----------------------- */

/*-------------------
 nav bar style
 -------------------- */
nav {
    background-color: #161616;
    padding: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px;

}

.nav-button {
    text-decoration: none;
    padding: 15px 10px;
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    color: #161616;
}

.nav-button-extra {
    text-decoration: none;
    padding: 15px 10px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #DD0000;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* nav style end */

.container {
    display: flex;
    align-items: flex-start;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    height: 362px;
    width: 270px;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.489);
    border-radius: 10px;
}

.transfer-button {
    border: 1px solid rgba(22, 22, 22, 1);
    width: 100px;
    height: 32px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(22, 22, 22, 1);
    padding-top: 5px;
    font-weight: 700;
    margin-top: 10px;
}

.transfer-blog {
    font-weight: 700;
}

.icon {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr)
}

.view-all {
    text-align: center;
    margin-top: 50px;
}

.tablet-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 16px 35px;
    border-radius: 5px;
    background-color: red;
}

/*----------------------------------
 footer style start 
 ----------------------------------*/
footer {
    width: 100%;
    height: 380px;
    background-color: #1E1E1E;
    margin-top: 80px;
}

footer h2 {
    padding-top: 130px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    text-align: center;
}

hr {
    color: #FFFFFF;
    width: 80%;
}

.footer-text {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
}

.footer-text p {
    padding-left: 30px;
    color: #b9b9b9;
}

.social-links {
    text-align: center;
    margin-top: 20px
}

.social-button {
    color: gray;
    width: 40px;
}

/*-----------------------------
------------------------------
-----------------------------
 Football world page is complete 
 ----------------------------------
 ---------------------------------*/

/*-----------------------------------------
 -------------------------------------
  Upcoming match page is starting --------------------
  -------------------------------------*/
.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.flag {
    text-align: center;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.489);
    border-radius: 10px;
    height: 242px;
    width: 280px;

}

.flag-banner {
    display: flex;

}

.flag-banner h3 {
    padding-left: 20px;
    padding-right: 20px;
}

/* upcoming match website is complete */
/* laptop view */
@media only screen and (min-width:1024px) {
    .view-all {
        display: none;
    }
}

/* tablet view */
@media only screen and (min-width:768px) and (max-width:1024px) {

    header {
        width: 90%;
        margin-left: 50px;
        margin-top: 50px;
        margin-right: 100px;
    }

    .header-info {
        padding: 76px;
        width: 316px;
        height: 276px;
        margin: 0;
        padding-left: 50px;
        padding-bottom: 130px;
    }




    .header-title {
        font-size: 40px;
    }

    .header-blog {
        font-size: 14px;
    }

    .header-banner {
        width: auto;
        padding-left: 0;
    }

    .header-banner img {
        height: 300px;
        width: auto;
    }

    .container {
        display: grid;
    }

    .nav-bar {}

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
        width: 0;
        height: 0;
        grid-column-gap: 22px;
        margin-bottom: 90px;
        margin-left: 10px;
    }

    .nav-button {
        width: 230px;
        height: 34px;
        border: 1px solid gray;
    }

    .nav-button-extra {
        width: 230px;
        height: 34px;
        border: 1px solid gray;
    }

    .players,
    .flags {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .player {
        width: 357px;
        height: 414px;
    }

    .flags {
        padding-left: 40px;
    }
}

/* tablet complete */
/* mobile device */
@media only screen and (min-width:300px) and (max-width:767px) {


    header {
        width: 334px;
        height: 567px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .header-info {
        display: flex;
        flex-direction: column;
        padding-left: 37px;
        padding-right: 37px;
        padding-top: 22px;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .header-title {
        font-size: 22px;
    }

    .header-blog {
        font-size: 14px;
    }

    .header-button {
        width: 160px;
    }


    .header-banner img {
        width: 233px;
        height: 245px;
    }

    .container {
        display: block;
    }

    nav {
        background-color: white;
        width: 210px;
        height: 176px;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 24px;
        margin-left: 40px;
    }

    .nav-button {
        width: 174px;
        border: 1px solid gray;
        margin-bottom: 10px;
    }

    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        width: 335px;
        height: 388px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .view-all {
        display: none;
    }

    footer {
        width: 375px;
        height: 400px;
    }

    footer h2 {
        padding-top: 24px;
        margin-bottom: 24px;
    }

    .footer-text {
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

}